.f-container {
  justify-content: space-between;
}

.f-left {
  gap: 1rem;
}

.f-menu {
  margin-top: 1.5rem;
  gap: 1.5rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .f-container {
    flex-direction: column;
    justify-content: center;
  }
  .f-left,
  .f-right {
    align-items: center;
  }
}
